{% extends 'base.html' %}
<head>
    <title>Create User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
{% block body %}
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Create User</h1>
        <form method="POST" action="/user/create">
            {{ form.hidden_tag() }}
            {{ form.email.label(class='text-muted') }} [Required] {{ form.email(class='form-control border border-dark mb-2') }}
            {{ form.password.label(class='text-muted') }} [Required] {{ form.password(class='form-control border border-dark mb-2') }}
            {{ form.firstname.label(class='text-muted') }} {{ form.firstname(class='form-control border border-dark mb-2') }}
            {{ form.lastname.label(class='text-muted') }} {{ form.lastname(class='form-control border border-dark mb-2') }}
            {{ form.role.label(class='text-muted') }} {{ form.role(class='form-select border border-dark mb-2') }}
            {{ form.submit(class='btn btn-primary mt-3') }}
        </form>
    </div>
</body>
{% endblock %}
