{% extends 'base.html' %}
{% block title %}
<title>Edit Customer</title>
{% endblock %}
{% block body %}
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Edit Customer</h1>
        <form method="POST" action="/customer/edit/{{id}}">
            {{ form.hidden_tag() }}
            {{ form.name.label }} {{ form.name(class='form-control mb-4' ) }} {{ form.name.data }}
            {{ form.status.label }} {{ form.status(class='form-control mb-4') }}
            {{ form.product.label }} {{ form.product(class='form-control mb-4') }}
            {{ form.description.label }} {{ form.description(class='form-control mb-4') }}
            {{ form.contactname.label }} {{ form.contactname(class='form-control mb-4') }}
            {{ form.contactemail.label }} {{ form.contactemail(class='form-control mb-4') }}
            {{ form.contactphone.label }} {{ form.contactphone(class='form-control mb-4') }}
            {{ form.agent.label }} {{ form.agent(class='form-control mb-4') }}
            {{ form.submit(class='btn btn-primary') }}
        </form>
    </div>
</body>
{% endblock %}
</html>