{% extends 'base.html' %}

{% block title %}

Tigersolv Sales CRM

{% endblock title %}

{% if current_user.is_authenticated %}

    {% block body %}

    <div class="container">

        <div style="margin-block: 30px;">
            <h1>Customers</h1>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Company</th>
                <th scope="col">Status</th>
                <th scope="col">ProductId</th>
                <th scope="col">Agent</th>
                <th scope="col">DateCreated</th>
            </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr></tr>
                    <td>{{ customer.Name }}</td>
                    <td>

                          {{ customer.Status }}
                    </td>
                    <td>{{ customer.ProductId }}</td>
                    <td>{{ customer.user.FirstName }}</td>
                    <td>{{ customer.DateCreated.strftime('%d/%m/%Y') }}</td>
                    <td>
                        <a class="btn btn-outline-dark" href="/customer/{{customer.CustomerId}}">Detail</a>

                        {% if current_user.can(4) %} <!-- Has Edit Permission -->
                            <a class="btn btn-warning" href="/customer/edit/{{customer.CustomerId}}">Edit</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>



    {% endblock body %}

{% else %}

<h1> Not a valid user! </h1>

{% endif %}

<script>
    function navigateTo(url) {
        window.location.href = url;
    }
</script>