{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Notes</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Agent Id</th>
                        <th scope="col">Note</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for note in notes %}
                    <tr>
                        <th scope="row">{{ note.NoteId }}</th>
                        <td>{{ note.customer.Name }}</td>
                        <td>{{ note.AgentId }}</td>
                        <td>{{ note.Note }}</td>
                        <td>{{ note.DateCreated.strftime('%d/%m/%Y') }}</td>
                        <td>
                            <a href="/customer/note/delete/{{ note.NoteId }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}